#content{
    margin: 40px auto;
}
#content .location ,#content .address{
    display: inline-block;
}
#content .address{
    border:1px solid #ddd ;
}

/* 左边表单内容 */
#content .location{
    width:60%;
    padding: 40px;
    margin:0 20px 0 80px;
}
#content .location p{
    font-size: 13px;
    padding: 4px;
    color:#696969;
    /* margin-top:5px ; */
}
#content .location form{
    margin-top: 40px;
}
#content .location form p input{
    width:45%;
    margin-right: 5px;
    height: 35px;
}
#content .location form p.email input{
    width:91.5%;
}
#content .location form p input ,textarea{
    background: #f2f2f2;
    border:1px solid rgb(242,242,242);
}
#content .location form button{
    color:#fff;
    background: #333;
    border: none;
    width: 110px;
    height: 30px;
    margin-top: 15px;
    margin-left: 4px;
}


/* 右边地图 */
#content .address{
    width:262px;
	text-align:center;
}
#content .address p{
	color:#696969;
	box-sizing:border-box;
}
#content .address p:first-child{
	font-size:18px;
	padding-top:30px;
}
#content .address p:nth-child(2){
	font-size:12px;
	padding:5px 0 15px 0;
}
#content .address p:nth-child(3){
	position:relative;
	top:10px;
}
#content .address div{
	position:relative;
	top:50px;
}