#content .top{
    text-align: center;
    margin-top: 40px;
}
#content .top img{
    width:90%;
}
#content .top .top_title{
    font-size:16px;
    color:#666;
    margin-top: 60px;
}
#content .top .top_sub{
    width:60%;
    margin: 60px auto;
    color:#808080;
    font-size: 13px;
    line-height: 2em;
}
/* 商品列表 */
#content #product_list{
    text-align: center;
}
#content .product{
    display: inline-block;
    width: 30%;
    position:relative;
    margin-bottom: 80px;
}
#content .product div{
    border-radius: 50%;
    width: 69%;
    border: 1px solid #dddddd;
    overflow: hidden;
    margin: auto;
}
#content .product div img{
    border-radius: 50%;
}
#content .product .btn{
    width:45%;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    top:18%;
    left:28%;
    line-height: 40px;
    background: rgba(0,0,0,0.5);
    letter-spacing: 2px;
    opacity: 0;
    color:#fff;
    transition: all 2.5s linear;
}
#content .product  .btn:last-child{
    top:42%;
}
#content .product div:hover .btn{
    opacity: 1;
    cursor: pointer;
}
#content .product p.name a{
    color: rgba(24, 12, 143, 0.5);
    font-size: 18px ;
    letter-spacing: 1px;
}
#content .product p.name{
    margin: 18px auto;
    font-weight: bold;
}
#content .product p.price{
    font-size: 18px;
    margin: 10px;
    color: #000;
    letter-spacing: 1px;
}

/*页码设置*/
#page{
    height: 35px;
    width: 100%;
    position: relative;
    left: 65%;
    top:-40px;
}
#page ul li{
    border: 1px solid #eeeeee;
    padding:5px 10px ;
    margin-left: 5px;
    border-radius: 3px;
    background: #eeeeee;
}
#page ul li a{
    color:#333;
}
#page ul li.active{
    border: 1px solid #0086b3;
    background: #eee;
}
