#content{
    min-height: 580px;
}
#content .cart_null{
    text-align: center;
    margin-top: 100px;
    color:#777;
    display: none;
}
#content .cart_null p{
    font-size: 14px;
}
#content .cart_null p.return{
    margin-top: 30px;
}
#content .cart_null p a{
    font-size: 16px;
    border: 1px solid #ddd;
    padding: 10px 20px;
}
#content .cart_null p.return a:hover{
    border: 1px solid #000;
    color:#000;
}
#content .list{
    border-right: 1px solid #ddd;
    padding:20px 30px;
    margin-top: 50px;
    display: inline-block;
}
#content .list table{
    border-collapse: collapse;
}
#content .list table th{
    text-align: left;
    border-bottom: 3px solid #ddd;
    padding: 5px 15px;
    font-size: 16px;
    color:rgb(85,85,85)
}
#content .list table tbody tr td{
    height:100px;
    padding:3px 15px ;
    border-bottom: 1px solid #ddd;
}
#content .list table tbody tr td.product-remove a{
    position: relative;
    top:-25px;
}
#content .list table tbody tr td.product-remove a:first-child{
    border:3px solid #ddd;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    line-height: 12px;
}
#content .list table tbody tr td.product-remove img{
    width: 75px;
    margin:0 50px;
}
#content .list table tbody tr td.product-remove a.product-title{
    color:#000;
    font-size: 14px;
    padding-right: 80px;
}
#content .list table tbody tr td.product-price,#content .list table tbody tr td.product-total{
    color: #777;
    font-size: 14px;
    padding-right: 50px;
}
#content .list table tbody tr td.product-sum button{
    width: 35px;
    height: 40px;
    border: 1px solid #ddd;
    background: #fff;
}
#content .list table tbody tr td.product-sum button:last-child{
    position: relative;
    right: 9px;
}
#content .list table tbody tr td.product-sum span{
    display: inline-block;
    width: 30px;
    height: 38px;
    border: 1px solid #ddd;
    text-align: center;
    line-height:38px;
    position: relative;
    top:2px;
    right: 5px;
}
#content .list table tbody tr td.product-total{
    font-weight: bold;
}

/* 右边 */
#content .cart{
    padding-left: 30px;
    display: inline-block;
    width: 25%;
    position: absolute;
    top:280px;
}
#content .cart div p.title{
    font-size: 16px;
    font-weight: bold;
    color: rgb(85,85,85);
    border-bottom: 3px solid #ddd;
    padding: 6px 0;
}
#content .cart .cart_sum p{
    color:#777;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 0 6px 0;
}
#content .cart .cart_sum p span{
    display: inline-block;
    float: right;
    text-align: right;
}
#content .cart .cart_sum p.total{
    border-bottom: 3px solid #ddd;
    border-top: 1px solid #ddd;
}
#content .cart .cart_sum a{
    background: #777;
    width: 100%;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    margin: 20px 0;
}
#content .cart .cart_sum a:hover{
    background: #000;
}
#content .cart .coupon input{
    width: 98.5%;
    margin-top: 10px;
    height: 35px;
}
#content .cart .coupon p a{
    border: 1px solid #666;
    margin-top: 10px;
    display: inline-block;
    width: 99.5%;
    text-align: center;
    padding: 8px 0;
}
#content .cart .coupon p a:hover{
    color: #000;
    border-color: #000;
}